body {
  margin: 0;
  font-family: "Gilroy";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts//Gilroy-Medium.ttf");
  font-weight: normal;
}
